/*---------------------------------------------------------------------------*/
/* Recursos externos */
@import url('https://fonts.googleapis.com/css?family=Tinos');
/*---------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------*/
/* Reset e globais */
*, *:before, *:after {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a:active,
a:hover {
  outline: 0;
}

@-webkit-viewport { width: device-width; }
@-moz-viewport { width: device-width; }
@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }

/*---------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------*/
/* Custom declarations */
.text-font-tinos {
  font-family: 'Tinos';
}

.bg-iro-red {
  background-color: #A53E42;
}

.hero {
  height: 500px;
}

.hero-reformation-wall {
  background: url('../imgs/reformation-wall.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*---------------------------------------------------------------------------*/