*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

@import url('colors.css');
@import url('https://fonts.googleapis.com/css?family=Fira+Mono');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

body {
  text-align: center;
  background-color: var(--background);
  color: var(--foreground);
}

a:focus { outline: 0; }

.navbar-nav a {
  color: var(--color3);  
}

.navbar-solarized .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='https://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(181, 137, 0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-solarized .navbar-toggler {
  color: var(--color3);;
  border-color: var(--color3);
  outline: 0;
}

.navbar-solarized a:hover {
  color: var(--color3);
}

.navbar {
  z-index: 10;
}

.color0{ color: var(--color0); }
.color1{ color: var(--color1); }
.color2{ color: var(--color2); }
.color3{ color: var(--color3); }
.color4{ color: var(--color4); }
.color5{ color: var(--color5); }
.color6{ color: var(--color6); }
.color7{ color: var(--color7); }
.color8{ color: var(--color8); }
.color9{ color: var(--color9); }
.color10{ color: var(--color10); }
.color11{ color: var(--color11); }
.color12{ color: var(--color12); }
.color13{ color: var(--color13); }
.color14{ color: var(--color14); }
.color15{ color: var(--color15); }

.bgcolor0{ background-color: var(--color0); }
.bgcolor1{ background-color: var(--color1); }
.bgcolor2{ background-color: var(--color2); }
.bgcolor3{ background-color: var(--color3); }
.bgcolor4{ background-color: var(--color4); }
.bgcolor5{ background-color: var(--color5); }
.bgcolor6{ background-color: var(--color6); }
.bgcolor7{ background-color: var(--color7); }
.bgcolor8{ background-color: var(--color8); }
.bgcolor9{ background-color: var(--color9); }
.bgcolor10{ background-color: var(--color10); }
.bgcolor11{ background-color: var(--color11); }
.bgcolor12{ background-color: var(--color12); }
.bgcolor13{ background-color: var(--color13); }
.bgcolor14{ background-color: var(--color14); }
.bgcolor15{ background-color: var(--color15); }

* {
  font-family: 'Fira Mono';
  font-size: 14px;
}

.fira-title {
  font-family: 'Fira Mono';
  font-size: 18px;
  font-weight: 600;
}

pre {
  display: inline-block;
  margin: auto;
  text-align: left;
  width: 500px;
}

.profile-pic-rounded {
  border-radius: 50%;
}

.page {
  bottom: 0; 
  padding-top: 145px;
  position: absolute; 
  text-align: center;
  top: 56px;  
  width: 100%; 
  z-index: 1;
}

/* Animações */

@keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeout {
  100% { opacity: 0; }
  0% { opacity: 1; }
}

.ng-enter { animation: fadein 0.5s both ease-in; z-index: 8888; }
.ng-leave { animation: fadeout 0.5s both ease-in; z-index: 9999; }

.hero {
  background-color: #A53E42;
  height: 500px;
  margin: 0;
  width: 100%;
}