RewriteEngine On
Options FollowSymLinks

RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /#/$1 [L]

# CONFIGURAR UTILIZAÇÃO DO HTTPS
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://iro.org.br/$1 [R,L]
