/*---------------------------------------------------------------------------*/
/* Recursos externos */
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Tinos:400,700&display=swap');
/*---------------------------------------------------------------------------*/
/* Custom declarations */
.text_font_tinos {
  font-family: 'Tinos' !important;
}

p, .text_font_opensans {
  font-family: 'Open Sans' !important;
}

.font_variant_smallcaps {
  font-variant: small-caps !important;
}

.bg_iro_red {
  background-color: #A53E42;
}

footer {
  left: 0;
  position: absolute;
  width: 100%;
}

.card-body p {
  font-size: 1.5rem;
}

.row .col a {
  text-decoration: none;
  color: #343a40;
}

.row .col a:active {
  color: #343a40;
}

.row .col a:visited {
  color: #343a40;
}

a:focus { 
  outline: none; 
}

.hero {
  height: 500px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.hero_confissao_belga {
  background: url('../images/reformation-wall.jpg') no-repeat 50% 0%/cover;
}

.hero_westminster {
  background: url('../images/reformation-wall.jpg') no-repeat 50% 0%/cover;
}

.hero_heidelberg {
  background: url('../images/reformation-wall.jpg') no-repeat 50% 0%/cover;
}