/*---------------------------------------------------------------------------*/
/* Recursos externos */
@import url('https://fonts.googleapis.com/css?family=Vollkorn+SC:400,700|Vollkorn:400,400i&display=swap');
/*---------------------------------------------------------------------------*/
/* Custom declarations */
*, body, body p {
  font-size: 18px;
}

nav {
  font-size: 0.8rem;
}

p, h4, ul, ol, li, blockquote, .text_font_default {
  font-family: 'Vollkorn' !important;
}

h1, h2, h3 {
  font-family: 'Vollkorn SC' !important;
  font-family: 'Vollkorn SC' !important;
  letter-spacing: -0.05em;
  word-spacing: 0.1em;
}

.h1, h1 {
  font-size: 2rem!important;
}

.text_font_opensans {
  font-family: 'Open Sans' !important;
}

.font_variant_smallcaps {
  font-family: 'Vollkorn SC' !important;
}

.bg_iro_red {
  background-color: #A53E42;
}

footer {
  left: 0;
  position: absolute;
  width: 100%;
}

card-body p {
  font-size: 1.5rem;
  line-height: 1em;
}

.row .col a {
  text-decoration: none;
  color: #343a40;
}

.row .col a:active {
  color: #343a40;
}

.row .col a:visited {
  color: #343a40;
}

a:focus { 
  outline: none; 
}

.hero {
  height: 500px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.avatar-rounded {
  border-radius: 50%;
}

.hero_confissao_belga {
  background: url('../images/hero-belga.jpg') no-repeat 50% 0%/cover;
}

.hero_dort {
  background: url('../images/hero-dort.jpg') no-repeat 50% 0%/cover;
}

.hero_heidelberg {
  background: url('../images/hero-heidelberg.jpg') no-repeat 50% 0%/cover;
}

p.info span {
  display: block;
}

p.links a {
  background:  #fff;
  border-radius: 50%;
  display: inline-block;
  height: 56px;
  margin-right: 20px;
  padding: 10px 11px;
  width: 56px;
}

p.links a:focus, p.links a:hover {
  transform: scale(1.1);
}

p.links a img {
  height: 36px;
}

span.bold {
  font-weight: bold;
}

.carousel-item {
  height: 450px;
}

.carousel-item a img {
  top: -10%;
  position: absolute;
}

.carousel-item .carousel-caption {
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(0,0,0,1) 100%);
  bottom: 0;
  height: 150px;
  left: 0;
  width: 100%;
}

.carousel-item .carousel-caption h3 {
  font-size: 2rem;
  padding-top: 35px;
}

.carousel-item .carousel-caption h3 {
  font-size: 2rem;
  padding-top: 35px;
  letter-spacing: unset;
  word-spacing: unset;
  font-family: 'Vollkorn' !important;
  text-shadow: 0 1px 3px #000;
}
span.smallcaps {
  font-family: 'Vollkorn SC', serif;
}
q::before, q::after {
  content: none;
}
q {
  font-style: italic;
  letter-spacing: .02rem;
}
q span {
  font-style: normal;
}
cite {
  font-style: normal;
  color: #A53E42;
  font-size: .9em;
}
.card-body {
  line-height: 1rem;
}

blockquote {
  padding-left: 2rem;
}
hr {
  border: none!important;
}
hr:before {
  content: '***';
  font-family: serif;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  text-align: center;
  border: none;
}

/* -- CONFISSOES -- */

#confissao {
  max-width: 800px;
  margin: 0 auto;
}
#confissao p {
  margin:0;
}
#confissao:not(.heidelberg) p, 
#confissao :not(.erro) p{
  text-indent: 2em;
}
body #confissao {
  text-align: justify;
}
#confissao ol {
  counter-reset: REFERENCIAS;
  padding-left: 0;
  margin-top: .5em;
}

#confissao li {
  display: inline;
  padding-right: .75em;
}

#confissao li:before
{
  content: counter(REFERENCIAS) ".";
  counter-increment: REFERENCIAS;
  font-weight: bold;
  padding-right: 6px;
/*     margin-right: -2px;
  font-size: .75em;
  vertical-align: top; */
}

#confissao h2 {
  font-size: 1.7rem;
  text-align: center;
  padding-top: 2rem;
}
#confissao h2::before,
#confissao h2::after {
  font-family: 'Segoe UI', sans-serif;
  content: "\2767";
  display: inline-block;
  margin: 0 0.6em;
  font-size: .75em;
  vertical-align: middle;
  color: #A53E42
}

#confissao h2::before {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
#confissao h3 {
  font-size: 1.3rem;
  line-height: 1.2em;
  text-align: center;
  padding-top: 1em;
}
#confissao h4 {
  font-size: 1rem;
  line-height: 1.2em;
  padding-top: 1em;
  text-align: left;
}

#confissao sup {
  line-height: 0;
  font-size: .75em;
  top: -.6em;
  color: #b82e32;
  position: relative;
  vertical-align: baseline;
}

/* --- belga --- */
#confissao.belga h2 {
  font-size: 1.3rem;
  line-height: 1.2em;
  text-align: center;
  padding-top: 1em;
}
#confissao.belga h2::after,
#confissao.belga h2::before {
  content:none;
}

/* --- heildeberg --- */
.heidelberg {
  counter-reset: PERGUNTAS;
}
.heidelberg h4:before {
  content: 'Pergunta ' counter(PERGUNTAS)": ";
  counter-increment: PERGUNTAS;
  font-family: 'Vollkorn SC', serif;
  font-weight: bold;
}
.heidelberg h4 + p:before {
  content: 'Resposta: ';
  font-family: 'Vollkorn SC', serif;
  font-weight: bold;
}

/* --- dort --- */

.dort h3 {
  counter-reset: ARTIGO;
}
#confissao.dort h4 {
  text-align: center;
  font-family: 'Vollkorn SC', serif !important;
  letter-spacing: -.04em;
  word-spacing: .06em;
  counter-reset: ERROS;
}
.dort h4:before {
  content: 'Artigo ' counter(ARTIGO)" – ";
  counter-increment: ARTIGO 1;
  font-family: 'Vollkorn SC', serif;
}
.erros p:nth-child(odd):before {
  content: 'Erro ' counter(ERROS)" – ";
  counter-increment: ERROS 1;
  font-family: 'Vollkorn SC', serif;
  font-weight: bold;
}
.erros p:nth-child(even):before {
  content: "Refutação – ";
  font-family: 'Vollkorn SC', serif;
  font-weight: bold;
}

@media only screen and (min-width: 640px) {
  *, body, body p {
    font-size: 21px;
  }
}
@media only screen and (min-width: 960px) {
  *, body, body p {
    font-size: 24px;
  }

}