/* TODO: Remover este arquivo e utilizar o global.css (pelo menos para esse caso por ora.) */
/*---------------------------------------------------------------------------*/
/* Recursos externos */
@import url('https://fonts.googleapis.com/css?family=Vollkorn+SC|Vollkorn:400,400i,700&display=swap');
/*---------------------------------------------------------------------------*/
/* Custom declarations */
nav {
  height: 64px;
}
.text_font_default {
  font-family: 'Vollkorn' !important;
}
.navbar-dark .navbar-nav .nav-link {
  color: hsla(0,0%,100%,.8);
  font-family: 'Vollkorn SC';
  font-size: 1rem;
}
.text_font_opensans {
  font-family: 'Open Sans';
}
.font_variant_smallcaps {
  font-family: 'Vollkorn SC' !important;
  font-size: 1rem;
  letter-spacing: -.05em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  word-spacing: .1rem;
}

.bg_iro_red {
  background-color: #A53E42;
}

.logo {
  height: 36px;
}